name: Auto LCM Approval

on:
  pull_request:
    types: [review_requested]

jobs:
  approve:
    name: approve
    if: >
      github.actor == 'ElliotScher' &&
      github.event.requested_reviewer.login == "190approvalbot" &&
      github.event.pull_request.draft == false
    runs-on: ubuntu-slim
    steps:
      - name: Approve PR
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.pulls.createReview({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              event: 'APPROVE'
            });